.containerCadastro{
    min-height: 100vh;
    direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DCE3E1 !important;
}

.itemCadastro{
    direction: row;
    justify-content: center;
    align-items: center;
}

.boxCadastro{
    background-color: #F1F1F0;
    color: black;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
}

.tabPanelCadastro{
    padding: 0px !important;
    align-items: center;
    justify-content: center;
}

.textoCadastro{
    font-weight: bold!important;
    align-items: center;
    justify-content: center;
}

.centralizar{
    align-items: center;
    justify-content: center;
}

.botaoCadastrar{
    display: flex;
    justify-content: center;
}
