.fontFamily {
    font-family: Delmon Delicate, sans-serif !important;
}

.navbar {
    min-height: 5vh;
    background-color: #E6DED2 !important;
    position: sticky !important;
    box-shadow: none !important;
}

.bold {
    font-weight: bold !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.menuNav {
    display: flex;
    margin-left: 1vw;
    color: black;
    align-items: center;
}

.buttonNav {
    border: 2px solid black !important;
    color: black !important;
    border-radius: 5px !important;
    margin: 0.5vh 0.25vw !important;
}

.buttonNav:hover {
    color: #c3baac !important;
    background-color: black !important;
}