.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botaoCadastro{
    color: black!important;
    font-weight: bold !important;
}

.subtitulo{
    padding-bottom: 4%;
    color: white !important;
    font-weight: bold !important;

}

.subtituloMeio{
    text-align: justify !important;
    padding-bottom: 4%;
    color: white !important;
    font-weight: bold !important;
}

.image{
    width: 400px;
    height: 360px;
    display:block;
    /* Centralizando imagem */
    margin: 0 auto;
    object-fit: cover;
}

.caixa{
    background-color: #7CB6B5; 
    padding: 0px 10px;
}

.text-decoration-none{
    text-decoration: none !important;
}

.botao{
    background-color: #D8D8D4 !important;
    color: white !important;
}

.howitworks{
    background-color: #D8D8D4; 
}

.titulo2{
    margin-top: 15px;
    color: #7CB6B5 !important;
    font-weight: bold !important;
}
